In [89]:
import requests
import lxml.html as lh
import pandas as pd

In [90]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [91]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [93]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [94]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [95]:
[len(C) for (title,C) in col]

[287, 287, 287]

In [96]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [97]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [115]:
df1=df[df.Borough!='Not assigned']
df1

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods\n
3,M4A,North York,Victoria Village\n
4,M5A,Downtown Toronto,Harbourfront\n
5,M6A,North York,Lawrence Heights\n
6,M6A,North York,Lawrence Manor\n
7,M7A,Downtown Toronto,Queen's Park\n
9,M9A,Queen's Park,Not assigned\n
10,M1B,Scarborough,Rouge\n
11,M1B,Scarborough,Malvern\n
13,M3B,North York,Don Mills North\n
14,M4B,East York,Woodbine Gardens\n
15,M4B,East York,Parkview Hill\n
16,M5B,Downtown Toronto,Ryerson\n
17,M5B,Downtown Toronto,Garden District\n
18,M6B,North York,Glencairn\n
21,M9B,Etobicoke,Cloverdale\n
22,M9B,Etobicoke,Islington\n
23,M9B,Etobicoke,Martin Grove\n
24,M9B,Etobicoke,Princess Gardens\n
25,M9B,Etobicoke,West Deane Park\n
26,M1C,Scarborough,Highland Creek\n
27,M1C,Scarborough,Rouge Hill\n
28,M1C,Scarborough,Port Union\n
30,M3C,North York,Flemingdon Park\n
31,M3C,North York,Don Mills South\n
32,M4C,East York,Woodbine Heights\n
33,M5C,Downtown Toronto,St. James Town\n
34,M6C,York,Humewood-Cedarvale\n
37,M9C,Etobicoke,Bloordale Gardens\n
38,M9C,Etobicoke,Eringate\n
...,...,...,...
234,M9V,Etobicoke,Thistletown\n
235,M1W,Scarborough,L'Amoreaux West\n
238,M4W,Downtown Toronto,Rosedale\n
239,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade\n
242,M8W,Etobicoke,Alderwood\n
243,M8W,Etobicoke,Long Branch\n
244,M9W,Etobicoke,Northwest\n
245,M1X,Scarborough,Upper Rouge\n
248,M4X,Downtown Toronto,Cabbagetown\n
249,M4X,Downtown Toronto,St. James Town\n
250,M5X,Downtown Toronto,First Canadian Place\n
251,M5X,Downtown Toronto,Underground city\n
254,M8X,Etobicoke,The Kingsway\n
255,M8X,Etobicoke,Montgomery Road\n
256,M8X,Etobicoke,Old Mill North\n
261,M4Y,Downtown Toronto,Church and Wellesley\n
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 East...
265,M8Y,Etobicoke,Humber Bay\n
266,M8Y,Etobicoke,King's Mill Park\n
267,M8Y,Etobicoke,Kingsway Park South East\n
268,M8Y,Etobicoke,Mimico NE\n
269,M8Y,Etobicoke,Old Mill South\n
270,M8Y,Etobicoke,The Queensway East\n
271,M8Y,Etobicoke,Royal York South East\n
272,M8Y,Etobicoke,Sunnylea\n
281,M8Z,Etobicoke,Kingsway Park South West\n
282,M8Z,Etobicoke,Mimico NW\n
283,M8Z,Etobicoke,The Queensway West\n
284,M8Z,Etobicoke,Royal York South West\n
285,M8Z,Etobicoke,South of Bloor\n

In [116]:
len(df1)

210

In [126]:
for i in range(1,len(df1)):
    if df1.iloc[i,2]=='Not assigned\n':
        df1.iloc[i,2]=df1.Borough
df1

ValueError: Incompatible indexer with Series

In [132]:
df1.Postcode.value_counts()

M8Y    8
M9V    8
M5V    7
M4V    5
M9B    5
M8Z    5
M9R    4
M9C    4
M1V    4
M6M    4
M5J    3
M1K    3
M1T    3
M8V    3
M6K    3
M1P    3
M3H    3
M5H    3
M1C    3
M8X    3
M1E    3
M5R    3
M2J    3
M6L    3
M1L    3
M1M    3
M5T    3
M6J    2
M6A    2
M4X    2
      ..
M6B    1
M6C    1
M5C    1
M1S    1
M9L    1
M7Y    1
M4M    1
M9N    1
M4W    1
M7R    1
M4E    1
M5A    1
M1J    1
M3A    1
M2N    1
M6G    1
M4J    1
M1G    1
M5N    1
M1X    1
M3B    1
M3L    1
M4N    1
M6E    1
M4S    1
M4P    1
M3M    1
M2H    1
M2K    1
M7A    1
Name: Postcode, Length: 103, dtype: int64

In [129]:
df1.shape

(210, 3)

In [130]:
df2=pd.read_csv('https://cocl.us/Geospatial_data')
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
5           M1J  43.744734 -79.239476
6           M1K  43.727929 -79.262029
7           M1L  43.711112 -79.284577
8           M1M  43.716316 -79.239476
9           M1N  43.692657 -79.264848
10          M1P  43.757410 -79.273304
11          M1R  43.750072 -79.295849
12          M1S  43.794200 -79.262029
13          M1T  43.781638 -79.304302
14          M1V  43.815252 -79.284577
15          M1W  43.799525 -79.318389
16          M1X  43.836125 -79.205636
17          M2H  43.803762 -79.363452
18          M2J  43.778517 -79.346556
19          M2K  43.786947 -79.385975
20          M2L  43.757490 -79.374714
21          M2M  43.789053 -79.408493
22          M2N  43.770120 -79.408493
23          M2P  43.752758 -79.400049
24          M2R  43.782736 -79.442259
25          M3A  43.753259 -79.329656
26          M3B  43.745906 -79.352188
27          M3C  43.725900 -79.340923
28          M3H  43.754328 -79.442259
29          M3J  43.767980 -79.487262
..          ...        ...        ...
73          M6C  43.693781 -79.428191
74          M6E  43.689026 -79.453512
75          M6G  43.669542 -79.422564
76          M6H  43.669005 -79.442259
77          M6J  43.647927 -79.419750
78          M6K  43.636847 -79.428191
79          M6L  43.713756 -79.490074
80          M6M  43.691116 -79.476013
81          M6N  43.673185 -79.487262
82          M6P  43.661608 -79.464763
83          M6R  43.648960 -79.456325
84          M6S  43.651571 -79.484450
85          M7A  43.662301 -79.389494
86          M7R  43.636966 -79.615819
87          M7Y  43.662744 -79.321558
88          M8V  43.605647 -79.501321
89          M8W  43.602414 -79.543484
90          M8X  43.653654 -79.506944
91          M8Y  43.636258 -79.498509
92          M8Z  43.628841 -79.520999
93          M9A  43.667856 -79.532242
94          M9B  43.650943 -79.554724
95          M9C  43.643515 -79.577201
96          M9L  43.756303 -79.565963
97          M9M  43.724766 -79.532242
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]